/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #208AEF60;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #208AEF;
}
